#block-click {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
}

#sfondo {
    width: 100%;
    
    transform: scale(1.2) translate(36px);
    position: absolute;
}

#jones {
    position: absolute;
    width: 400px;
    bottom: 20px;
    left: 0px;
    transition: all 1.5s ease; 
}

#jones.bottom {
    bottom: -100%;
}

#jones.left {
    left: -80%;
}



#bubble {
    position: absolute;
    width: 400px;
    bottom: 380px;
    left: 270px;
}

#bubble-text {
    position: absolute;
    bottom: 440px;
    left: 330px;
    width: 300px;
    height: 120px;
    text-align: center;
}


.font-25 {
    font-size: 25px;
}

.font-50 {
    font-size: 50px;
}


body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}



#choosed {
    position: absolute;
    width: 210px;
    left: 50%;
    transform: translate(-50%);
    top: 45%;
}


#choose-overlay { 
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-area: auto auto auto auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

#choose-overlay > img {
    width: 200px;
    margin: auto;
}
#choose-overlay > img:hover {
    cursor: pointer;
}

#packages-container {
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    line-gap-override: 0;
    position: absolute;
    margin: auto;
    bottom: 10px;
}

#packages-container > img {
    height: 100%;
    margin: auto;
    transition: all 1.5s ease; 
}
#packages-container > img:hover {
    cursor: pointer;
}


#choosed-overlay {
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

#choosed-overlay > img {
    position: absolute;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#choosed-overlay > img:hover {
    cursor: pointer;
}


#offerte-sx {
    position: absolute;
    top: 10%;
    width: 22%;
    height: fit-content;
}

#offerte-sx > div {
    color: white;
    font-family: "Caesar Dressing", system-ui;
    font-size: 20px;
    text-align: right;
    background: rgba(5, 56, 151, 0.829);
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    transition: all 1.5s ease;
}

#offerte-sx > div.translated {
    transform: translate(-200%);
}



#offerte-dx {
    position: absolute;
    top: 10%;
    right: 0;
    width: 22%;
    height: fit-content;
}

#offerte-dx > div {
    color: white;
    font-family: "Caesar Dressing", system-ui;
    font-size: 20px;
    background: rgba(151, 39, 5, 0.829);
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    transition: all 1.5s ease;
}

#offerte-dx > div.translated {
    transform: translate(+200%);
}


.hidden {
    display: none !important;
}

.opacity-0 {
    opacity: 0;
}